.category {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  font-size: 3vw;
  border: none;
}

.category:hover {
  width: 17vw;
  height: 17vw;
}

.Biscuits {
  background-color: #74B3CE;
  color: white
}

.Prep {
  background-color: #09BC8A;
  color: white;
}
